*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}


.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: rgb(11, 11, 11);
    font-size: 30px;
    margin-right: 5px;
    box-shadow: 0 10px 6px -6px #777;
   
    
}
.headg{
    margin-left: 5px;

}
.headImg{
    height: 70px;
    width: 70px;
}



body {
     
    width: 100vw;
    height: 100vh;
    /* background-color: #2a87f1; */
    background-image: linear-gradient(rgb(246, 142, 7),white,rgb(0, 255, 42));
    /* background-color: #fbbdaf; */
    display: grid;
    place-items: center;
}

form {
    
    background-image: linear-gradient(rgb(246, 142, 7),white,white,rgb(0, 255, 42),rgb(0, 255, 42));
    border-start-end-radius: 30px;
    border-end-start-radius: 30px;
    /* background-color: #ff9f43; */
    padding: 80px;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    color: #151feb;
    margin-bottom:90px;
    box-shadow: 0 10px 6px -6px #777;
}

#Calc label {
    font-size: 30px;
    font-weight: 200;
    color: #85868e;
    
   
    text-transform: capitalize;
    color: #151feb;
}

#temp {
    color: white;
    background-color: #151feb;
    border: none;
    padding: 10px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    
    
}

#temp_Diff {
    color: white;
    background-color: #151feb;
    height: 40px;
    border: none;
    margin-top: 20px;
   
    font-size: 15px;
    vertical-align: top;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
}

[type="submit"] {
    height: 35px;
    margin: 20px;
    width: 100px;
    font-size: 15px;
    border: none;


    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    color: white;
    background-color: #151feb;
}

#result {
    font-size: 35px;
}



@media(min-width:767px) {

    #temp_Diff {
        transition: 1s;

        margin-left: 20px;
        border-start-end-radius: 0px;
        border-end-start-radius: 0px;
        border-start-start-radius: 10px;
        border-end-end-radius: 10px;
    }
    [type="submit"] {
        transition: 1s;
        border-start-end-radius: 0px;
        border-end-start-radius: 0px;
        border-start-start-radius: 10px;
        border-end-end-radius: 10px;
    }
    #temp{
        transition: 1s;
        border-start-end-radius: 00px;
        border-end-start-radius: 00px;
        border-start-start-radius: 10px;
        border-end-end-radius: 10px;
        
    }
    form{
        transition: 1s;
        border-start-end-radius: 0px;
        border-end-start-radius: 00px;
        border-start-start-radius: 30px;
        border-end-end-radius: 30px;
    }

}


